<link rel="stylesheet" type="text/css" href="css/home.css">

<div class="logo">
	<img src="img/logo_trans.png">
	<div class="sec-text">
		<p>Porfolio Coming <b>Soon</b></p>
		<p><b>Freelance</b> Full Stack Web Developer</p>
		<p>Contact Me For <b>Your</b> Website Needs</p>
		<a target="_blank" href="https://www.linkedin.com/in/jen516/">
			<i style="color:#9ae6b5;" class="fa fa-linkedin fa-3x"></i>
		</a>
		<a target="_blank" href="https://github.com/Jenpaulino3">
			<i style="color:#fff;" class="fa fa-github-alt fa-3x"></i>
		</a>
		<a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=jenpaulino3@gmail.com&su=SUBJECT&body=Hello Jennifer,">
			<i style="color:#fc918e;" class="fa fa-envelope-o fa-3x"></i>
		</a>
	</div>
</div>