<link rel="stylesheet" type="text/css" href="css/home.css">

<div class="logo">
	<img src="img/logo_trans.png">
	<div class="sec-text">
		<p>Porfolio Coming <b>Soon</b></p>
		<p><b>Freelance</b> Full Stack Web Developer</p>
		<p>Contact Me For <b>Your</b> Website Needs</p>
		<i style="color:#9ae6b5;" class="fa fa-linkedin fa-3x"></i>
		<i class="fa fa-github-alt fa-3x"></i>
		<i style="color:#fc918e;" class="fa fa-envelope-o fa-3x"></i>
	</div>
</div>