body {
	background-color: #000;
	font-size: 16px;
}

.logo {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo img {
	width: 350px;
}

.sec-text {
	text-align: center;
	color: #fff;
	margin-top: -50px;
}

.fa-3x {
	margin: 15px;
}

@media only screen and (min-width: 375px) {
	.logo img {
		width: 400px;
	}
}

@media only screen and (min-width: 400px) {
	.logo img {
		width: 500px;
	}
}

@media only screen and (min-width: 768px) {
	.sec-text {
		text-align: center;
		color: #fff;
		margin-top: -75px;
	}
}

@media only screen and (min-width: 992px) {
	.bg {
		/*height: 600px;
		padding: 150px;*/
	}
}