body {
	background-color: #000;
	font-size: 14px;
}

.logo {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo img {
	width: 350px;
}

.content {
	text-align: center;
	color: #fff;
	margin-top: -50px;
}

.fa-3x {
	margin: 0 15px 15px;
}

#mc_embed_signup{ 
	clear:left;  
	width:100%;
	padding: 0 50px;
	margin-top: -15px;
}

#mc_embed_signup .button {
	background-color: #9ae6b5;
	color: #000;
}

#mc_embed_signup .button:hover {
	background-color: #fc918e;
	color: #000;
}

#mc_embed_signup .button:hover {
    background-color: #fb908d;
}

#mc_embed_signup input.email,
#mc_embed_signup .button {
	width: 200px;
	margin-left: 10px;
	border-radius: 50px;
}

@media only screen and (min-width: 375px) {
	.logo img {
		width: 400px;
	}
}

@media only screen and (min-width: 400px) {
	.logo img {
		width: 500px;
	}
}

@media only screen and (min-width: 768px) {
	.logo img {
	    width: 100%;
	}
	.content {
		text-align: center;
		color: #fff;
		margin-top: -100px;
	}
	#mc_embed_signup_scroll {
		display: inline-flex;
	}
}

@media only screen and (min-width: 992px) {
	.logo img {
		width: 450px;
	}
}

@media only screen and (min-width: 992px) {
	.logo img {
		width: 500px;
	}
}