body {
	background-color: #000;
}

.logo {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo img {
	width: 350px;
}

.sec-text {
	text-align: center;
	color: #fff;
	margin-top: -50px;
}

.fa-3x {
	margin: 15px;
}

@media only screen and (min-width: 375px) {
	.bg {
		/*height: 350px;*/
	}
}

@media only screen and (min-width: 768px) {
	.bg {
		/*height: 500px;*/
	}
}

@media only screen and (min-width: 992px) {
	.bg {
		/*height: 600px;
		padding: 150px;*/
	}
}